$backgroud-color: #1c1c1d;

@font-face {
  font-family: "deyihei";
  src: url("./assets/SmileySans-Oblique.ttf");
}

:root {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", system-ui, Avenir, Helvetica, Arial, deyihei;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: $backgroud-color;
  scrollbar-width: thin;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #c4c4ff;
}

li {
  margin-left: 2vw;
  list-style: circle;
}

code {
  background-color: #afa4db38;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  margin: 0.6em 0.2em;
  color: #ffeed7;
}

hr {
  margin: 1em 0;
  border-width: thin;
}

h1,
h2,
h3 {
  position: relative;
  margin-bottom: 0.3em;
  &::before {
    content: "#";
    position: absolute;
    left: -0.68em;
    color: rgba(78, 78, 209, 0.63);
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

h2 {
  &::before {
    content: ">";
  }
}

h3 {
  &::before {
    content: "$";
  }
}

h2,
h3 {
  margin-top: 1em;
  margin-bottom: 0.4em;
}

h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

blockquote {
  margin: 0.5em 0;
  padding: 0.4em 0.75em;
  border-left: 0.25em solid #c4c4ff88;
  font-style: italic;
  background-color: #2e2e31;
}

@media screen and (max-width: 768px) {
  li {
    margin-left: 5vw;
  }
}
