$backgroud-color: #1c1c1d;

@font-face {
  font-family: "deyihei";
  src: url("./assets/SmileySans-Oblique.ttf");
}

:root {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", system-ui, Avenir, Helvetica, Arial, deyihei;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: $backgroud-color;
  scrollbar-width: thin;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #c4c4ff;
}

li {
  margin-left: 2vw;
  list-style: circle;
}

code {
  background-color: #aca1da2d;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  font-size: 85%;
}

hr {
  margin: 1em 0;
  border-width: thin;
}

@media screen and (max-width: 768px) {
  li {
  margin-left: 5vw;
}
}